.center {
  text-align: center;
}

.remove-outline {
  &:focus {
    box-shadow: none !important;
  }
}

.p-toast {
  @media (max-width: 768px) {
    width: 300px !important;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100dvh;
  background-color: #07070788;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
